@page
@model AngularMvcApp.Pages.TestAngularModel
@{
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>AngularMvcApp</title>
    <base href="/" />

    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/x-icon" href="favicon.ico" />
    <link rel="stylesheet" href="https://localhost:44496/styles.css" asp-append-version="true">

</head>
<body>
    <app-root>Loading...</app-root>
    https://localhost:7009/TestAngular
    https://localhost:44353/TestAngular
    https://localhost:44353/Test/
    <br />
    <br />
    https://dotnetlead.com/net/windows-authentication-with-angular-and-net-core-web-api/2194/
    https://spikesapps.wordpress.com/2017/08/04/how-to-implement-windows-authentication-in-an-angular-4-3-1-application-with-a-stand-alone-web-api/
    https://stackoverflow.com/questions/57147812/windows-authentication-in-net-core-web-api-angular-application
    https://stackoverflow.com/questions/57768965/windows-authentication-and-angular-7-application
    https://stackoverflow.com/questions/72273397/net-core-with-windows-authentication-angular-app-gets-error
    https://dotnetlead.com/net/windows-authentication-with-angular-and-net-core-web-api/2194/
</body>
</html>

    <script src="https://localhost:44496/runtime.js" type="module" asp-append-version="true"></script>
    <script src="https://localhost:44496/polyfills.js" type="module" asp-append-version="true"></script>
    <script src="https://localhost:44496/styles.js" defer asp-append-version="true"></script>
    <script src="https://localhost:44496/vendor.js" type="module" asp-append-version="true"></script>
    <script src="https://localhost:44496/main.js" type="module" asp-append-version="true"></script>
