
@{
    ViewData["Title"] = "Chat6";
}

<h1>Chat6</h1>
<script async src="https://localhost:7011/js/chat6.js" referrerpolicy="no-referrer-when-downgrade"></script>

<script>
    // Create an instance of the ChatWidget class to embed the chat widget
    const chatWidget = new ChatWidget();
</script>
