
@{
    ViewData["Title"] = "Chat8";
}

<h1>Chat8</h1>
<div class="container">
    <div class="header">
        🗨️ WebChat
    </div>

    <div class="message-section" id="messageSection">
        <!-- this div display on right side -->
        <!-- <div class="msg-box received">
            hi ddd dfdsfd ddddddddddddddddddddddddddddddddddddddddddd1
        </div> -->
    </div>

    <div class="input-section">
        <input type="text" class="input" id="txtMessage" />
        <button class="btn" id="btnSend">Send</button>
    </div>
</div>

@section Scripts {
    <script src="https://localhost:7011/chat.js"></script>
}
